<html ng-app="githubViewer">
<head>
    <title>Angular Js Experiments</title>
    <script src="angular.js" type="text/javascript"></script>
    <script src="script.js" type="text/javascript"></script>
</head>
<body ng-controller="MyController">
    <h1>Starting Angular Js</h1>

    <div>{{error}}</div>
    <div>{{countdown}}</div>
    <form name="searchUser" ng-submit="search(username)">
        <input type="search" required placeholder="Username to find" ng-model="username" />
        <input type="submit" value="Submit" />
    </form>
    <div id="userDetails">
        <div ng-show="user">
            Name : {{user.name | uppercase}}
            <br />
            <img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" title="{{user.name}}">
            <br /><br />
            Order:
            <select ng-model="repoSortOrder">
                <option value="+name">Name</option>
                <option value="-stargazers_count">Stars</option>
                <option value="+language">Language</option>
            </select>
        </div>
        <br />
        <table ng-show="user">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Stars</td>
                    <td>Language</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                    <td>{{repo.name}}</td>
                    <td>{{repo.stargazers_count | number}}</td>
                    <td>{{repo.language}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--<div>Location : {{user.location}}</div>
    <div><img ng-src="{{user.avatar_url}}" title="{{user.name}}" /></div>-->
    
</body>
</html>
